*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}
.logs{
    width: 100%;
}
.row1{
    display: flex;
    background-color: rgb(46, 35, 35);
    border-radius: 5px;
    width: 600px;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 50;
}
.row1 p{
    font-size: large;
    color: white;
    padding-bottom: 8px;
    text-align: left;
    width: 200px;
    padding-left: 10px;
    padding-top: 3px;
}
.row2{
    display: flex;
    width: 600px;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.row2 p{
    width: 150px;
    text-align: left;
    color: antiquewhite;
}