*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}
.profile{
    padding: 20px;
}

.links p{
    color: white;
}

.links p:hover {
    background-color: rgb(211, 198, 198);
    height: 25px;
    border-radius: 4px;
    width: 80%;
}
.links a {
    text-decoration: none;
  }

.side{
    background-color: gray;
}

.txt{
    font-weight: bold;
}