.container{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 500px;
    height: 500px;
}
.centered-content {
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    background-color: rgb(197, 188, 188);
    border-radius: 10px;
  }
.image{
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50px;
    background-color: black;
    width: 20%;
}
.image img{
    width: 150px;
    align-items: center;
}
.image h1{
    font-size: 16px;
}
.image p{
    font-size: 16px;
}